<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jltfisp.web.news.dao.NewsInformationMapper">
    <resultMap type="com.jltfisp.web.news.entity.NewsInformation" id="newsInformation">
		<id property="id" column="id" />
		<result property="imageUrl" column="imageUrl" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="source" column="source" />
		<result property="link" column="link" />
		<result property="publishTime" column="publish_time" />
		<result property="columnId" column="column_id" />
		<result property="contentReview" column="content_review" />
		<result property="videoPath" column="videoPath" />
		<result property="pv" column="pv" />
	</resultMap>
	<!-- 查询新闻内容列表 -->
	<select id="getNewsInformationList" resultMap="newsInformation" parameterType="map">
	   select jn.id as id,jn.title as title,jn.content as content,jn.source as source,
	    jn.link as link,jn.publish_time as publishTime ,jn.column_id as columnId ,jn.content_review as contentReview,
	    jn.videoPath as videoPath,jn.pv as pv from
	      jltfisp_news jn where  column_id=#{columnId} order by jn.publish_time desc limit #{rows},#{pageSize}
	</select>
	
	<!--根据新闻内容id获取具体的新闻内容  -->
	<select id="getNewsInfoById" resultType="com.jltfisp.web.news.entity.ColumnDto" parameterType="int">
	   SELECT jn.id AS id, jcm.columnName AS columnName,jn.title AS title, jn.content AS content, jn.source AS source,
	jn.link AS link, jn.publish_time AS publishTime, jn.content_review AS contentReview, jn.pv AS pv,jcm.parentColumn as parentColumn,
	jcm.id as columnId  FROM jltfisp_column_manage jcm,
	jltfisp_news jn WHERE jn.column_id = jcm.id AND jcm.isdelete = 1 AND jn.state = 1 AND jn.id =#{id}
	</select>
	<!--更新浏览记录,浏览记录每访问一次+1 -->
	<update id="updateNewsInfoPv">
		update jltfisp_news jn set jn.pv=jn.pv+1 where jn.state=1 and jn.id=#{id}
	</update>
</mapper>