<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jltfisp.web.capital.dao.CapitalDao">
    <resultMap type="com.jltfisp.web.column.entity.JltfispColumn" id="jltfispColumn">
		<id property="id" column="id" />
		<result property="columnName" column="columnName" />
		<result property="columnType" column="columnType" />
		<result property="parentColumn" column="parentColumn" />
		<result property="columnNo" column="columnNo" />
		<result property="image" column="image" />
		<result property="columnDesc" column="columnDesc" />
		<result property="isdelete" column="isdelete" />
		<result property="createTime" column="createTime" />
		<result property="createUserid" column="createUserid" />
	</resultMap>
	<!-- 查询专项资金二级列表，并按columnNo升序排列-->
	<select id="getJltfispColumnList" resultMap="jltfispColumn" parameterType="int">
	  select * from jltfisp_column_manage cm where cm.isdelete=1 and cm.parentColumn=#{parentColumn} order by  columnNo asc
	</select>
	<!-- 查询专项资金二级列表下一级的具体信息的集合，并按发布时间降序排列 -->
	<select id="getCapitalList" resultType="com.jltfisp.web.capital.entity.JltfispCapital" parameterType="int">
		select capital.* from jltfisp_capital capital LEFT JOIN jltfisp_column_manage cm ON capital.column_Id = cm.id
		AND cm.parentColumn = 5 WHERE capital.column_Id = #{column_Id} AND capital.state=1 ORDER BY capital.publish_time DESC
	</select>
	<!--更新浏览记录,浏览记录每访问一次，+1 -->
	<update id="updateCapitalPv">
		update jltfisp_capital  ca set ca.pv=ca.pv+1 where ca.state=1 and ca.id=#{id}
	</update>
	<!-- 查询专项资金最后一级的详细信息 -->
	<select id="getCapitalDetail" resultType="com.jltfisp.web.capital.entity.JltfispCapital" parameterType="int">
		select * from jltfisp_capital ca where ca.state=1 and ca.id=#{id} limit 1
	</select>
	<select id="getCapitalPageCount" resultType="int" parameterType="int">
		select count(*) from jltfisp_capital capital where capital.column_id=#{column_id}
	</select>
</mapper>